body {
    text-align: center;
    font-family: 'Helvetica Neue', Helvetica;
}
header, article, footer {
    width: 970px;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}
article {
    width: 930px;
    padding: 20px;
    margin: 10px auto;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    -khtml-border-radius: 20px;
    border-radius: 20px;
}
article.qa {
    background-color: rgb(164, 209, 205);
}
article.info {
    background-color: rgb(114, 185, 201);
}
h4 {
    margin: 0;
}