body {
    text-align: center;
    font-family: 'Helvetica Neue', Helvetica;
    font-size: 13px;
}
header, article, footer, div {
    width: 670px;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}
div {
    width: 670px;
    position: relative;
    margin: 0 auto;
}
article {
    display: inline-block;
    width: 630px;
    padding: 20px;
    margin: 10px;
    -webkit-box-shadow: 3px 3px 7px #777;
}
article.info {
    background-color: rgb(114, 185, 201);
}
article.qa {
    background-color: rgb(164, 209, 205);
}
article.code {
    background-color: rgb(183, 214, 174);
}
h1, h2 {
    
}
h4 {
    margin: 0;
    font-size: 15px;
}